{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %} Dealers & Cars {% endblock %}</h1>
<div class="content">
    <div class="half">
        {% for dealer in dealers %}
        <div class="dealer">
            <p><b>#{{ dealer.id }}</b></p>
            <b>
                <p class="name">
                    <a href="{{ url_for('dealers_bp.dealer', dealer_id=dealer.id)}}">
                        {{ dealer.name }}
                    </a>
                </p>
            </b>
            <p>{{ dealer.email }}</p>
            <p>Joined: {{ dealer.created_at }}</p>
            <div class="desc">
                <h4>Description</h4>
                <p>{{ dealer.desc }}</p>
            </div>

            <hr>
            <div class="control">
                <form method="POST" action="{{ url_for('dealers_bp.delete', dealer_id=dealer.id) }}">
                    <input type="submit" value="Delete Dealer"
                           onclick="return confirm('Are you sure you want to delete this dealer?')">
                </form>
                <form method="GET" action="{{ url_for('dealers_bp.edit', dealer_id=dealer.id) }}">
                    <input type="submit" value="Edit Dealer">
                </form>
            </div>

        </div>
        {% endfor %}
    </div>
    <div class="half">
        {% for car in cars %}
        <div class="car">
            <p><b>#{{ car.id }}</b></p>
            <b>
                <p class="name">
                    <a href="{{ url_for('cars_bp.car', car_id=car.id)}}">
                        {{ car.model_name }}
                    </a>
                </p>
            </b>
            <p>{{ car.color }}</p>
            {% if car.dealer_id %}
            <a href="{{ url_for('dealers_bp.dealer', dealer_id=car.dealer_id) }}">Dealer: {{car.dealer_id}}</a>
            {% else %}
            <p>Dealer: None</p>
            {% endif %}
            <p>Added: {{ car.created_at }}</p>

            <hr>
            <div class="control">
                <form method="POST" action="{{ url_for('cars_bp.delete', car_id=car.id) }}">
                    <input type="submit" value="Delete Car"
                           onclick="return confirm('Are you sure you want to delete this car?')">
                </form>
                <form method="GET" action="{{ url_for('cars_bp.edit', car_id=car.id) }}">
                    <input type="submit" value="Edit Car">
                </form>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}